/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  background-color: #EEEEEE;
}

h1.page-header {
	margin-bottom: 30px;
}

h2 {
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}

/* Prettify fix */
pre.prettyprint {
  border: none !important;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Color scheme
 */
a {
	color: #FF7043;
}

a:hover {
	color: #FF5722;
}

::selection {
  background: #FFCCBC; /* WebKit/Blink Browsers */
}

.btn-primary {
	background-color: #FF7043;
	border-color: transparent;
}

.btn-primary[disabled] {
	background-color: #FFCCBC;
	border-color: transparent;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .btn-primary[disabled]:hover  {
	background-color: #FF5722; 
	border-color: transparent;
}

.form-control:focus {
	border-color: #9E9E9E;
  -webkit-box-shadow: inset 0 1px 1px #9E9E9E, 0 0 4px white;
          box-shadow: inset 0 1px 1px #9E9E9E, 0 0 4px white;
}

/*
 * Panel
 */
.panel-indigo {
	border-color: #00897B;
}

.panel-indigo > .panel-heading {
	color: white;
	background-color: #009688;
	border-color: #00897B;
}


/*
 * Topbar
 */
.navbar-indigo {
	color: white;
	font-size: 16px;
	background-color: #009688;
	border-color: #00897B;
	box-shadow: 0px 1px 5px #9E9E9E;
}

.navbar-indigo a {
	color: white;
}

.navbar-indigo a:hover {
	color: #f5f5f5;
}

.navbar-indigo .navbar-nav > li > a:hover,  .navbar-indigo .navbar-nav > li > a:focus {
	background-color: transparent;
}

.nav li > a:focus, .nav li > a:hover {
	background-color: #B2DFDB;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: transparent;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: #B2DFDB;
}

.navbar-toggle .icon-bar {
	background-color: white;
}

/*
 * Forms
 */
.btn-group-vertical {
	width: 100%;
}

.form-control {
	width: 100%;
}

.apply {
    float:right;
    
}

/********
 * Glyphicons
 ********/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?82eg4v');
	src:url('../fonts/icomoon.eot?#iefix82eg4v') format('embedded-opentype'),
		url('../fonts/icomoon.woff?82eg4v') format('woff'),
		url('../fonts/icomoon.ttf?82eg4v') format('truetype'),
		url('../fonts/icomoon.svg?82eg4v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-python:before {
	content: "\e601";
}

.icon-github:before {
	content: "\e600";
}

.icon-swagger:before {
	content: "\e602";
}
/*@media (max-width: 1100px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}*/

/*
 * Content
 */
.main {
		margin: 40px 15px;
		padding: 30px 30px;
		background-color: white;
		box-shadow: 0px 1px 5px #9E9E9E;
		border-radius: 3px;
}

/*
 * BUTTON MOVING LIKE JAGGER
 */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Accordion
 */
.help .panel {
	background: none;
	padding: 0;
	border-radius: 0;
	border: 0;
	border-color: 0;
}
 
.help .panel-heading {
	background-color: transparent !important;
	border: 0;
	border-color: 0;
 }
 
.help {
	z-index: 10000;
}
 
@media (min-width: 768px) {
	.help .modal-dialog {
		width: 60%;
	}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
 * Resaltar color hover consulta de fichero.
 */

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #E0F2F1;
}

/*
 * GRID.
 */

.grid {
  background-color: #C8C8C8;
}


/*
 * Vertical dropdown.
 */

#MainMenu :hover
{
  background-color: #428bca;
  color: #FFFFFF;
}
.panel-dropdown {
  margin-bottom: 20px;
  background-color: #fff;
  border: 0px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.glyphicon-asterisk {
    font-size: 0.5em;
}


/*
 * Ajustar botón subir fichero de index.html
 */

.btn-xl {
    padding: 15px 40px;
    font-size: 20px;
}


/*
 * Ajustar padding del body del modal de subir fichero.
 */

.modal-body {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
}


/*
 * Justificar textos <p>.
 */

p {
  text-align:justify;
}

p.bg-warning {
	padding: 15px;
}

/*
 * Botón de subida de fichero.
 */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
  color: black !important;
}
